.imgSize {
    width: 18rem;
    border-radius: 1rem;
}

.window{
    background-image: linear-gradient(to right top, #2FAC66, #000000, #181818, #282828, #3a3a3a, #4c4c4c, #2FAC66);
    color: white;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.titulo {
    color: #FCEA10;
    font-family: "RigorMortis", sans-serif;
    
  }